/* set fonts and box sizing to make life easier */
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* smooth scroll on supported browsers */
html {
  scroll-behavior: smooth;
}
/* reusable color values */
:root {
  --nav-color: #31343d;
  --highlight: #92ccce;
  --heading: #445877;
}
/* psuedo reset  */
body {
  margin: 0;
  padding: 0;
  line-height: 1.75;
}
/* psuedo reset  */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h3 {
  font-size: 2rem;
  color: var(--heading);
}

/* psuedo reset  */
p {
  margin: 0;
}

/* make links clickable without the decoration/underline/color */
a {
  text-decoration: none;
}

/* define header flex row container push nav to right and my name to left */
header {
  padding: 15px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--nav-color);
}

/* set my name colors and font size */
header h1 {
  color: var(--nav-color);
  background-color: var(--highlight);
  padding: 5px 1% 5px 6%;
  font-size: 200%;
  margin-left: -2%;
}

/* make li elements inline and hide decoration */
li {
  list-style: none;
  display: inline;
}

/* make navbar horizontal */
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* navbar underline/colors and set up for fill on hover animation */
nav a {
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
  color: var(--highlight);
  background-image: linear-gradient(280deg, var(--highlight), var(--highlight));
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  font-size: 1.2rem;
  transition: all 0.35s ease-in-out;
  -webkit-animation: all 0.35s ease-in-out;
}

/* hover animation grows background box to full height */
nav a:hover {
  background-size: 100% 100%;
  color: var(--nav-color);
}

/* hero background image and flex container  */
.hero-banner {
  background-image: url(./img/banner.jpg);
  background-position-y: 80%;
  background-size: cover;
  height: 20rem;
  min-width: 100%;
  position: relative;
  display: flex;
}

/* hero subtitle styling over the image and in the bottom right  */
.hero-banner h2 {
  color: var(--nav-color);
  background-color: var(--highlight);
  padding: 8px;
  position: absolute;
  right: 5%;
  bottom: 10%;
  display: flex;
  align-items: flex-end;
}
/* main page wrapper makes the content all inside of a flex box for responsiveness and set width for safe viewing. */
.page-wrapper {
  display: flex;
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

/* reusable flex row container  */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
  width: 100%;
}

/* reusable heading on the left with the colored dividing line on the right */
.left-heading {
  margin-top: 5%;
  border-right: 5px solid var(--heading);
  flex: 0 0 15%;
}
/* make heading flex item 20% of flex container */
.left-heading h3 {
  /* border-right: 5px solid var(--heading); */
  flex: 0 0 20%;
  padding-right: 15px;
  text-align: right;
}

/* about me container  */
.content-box {
  flex: 0 0 77%;
  padding-left: 6%;
  margin-right: 10%;
  margin-top: 4%;
}
/* work/projects main container  */
.content-box-work {
  flex: 0 0 77%;
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin-top: 2%;
  margin-left: 5%;
  /* margin to offset heading margin */
}

/* set project colors, position, hover anim, and description box values below  */
.project-banner1 {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 40vh;
  color: var(--nav-color);
  background-color: var(--highlight);
}

.project-banner1 h3,
.project-banner h3 {
  color: var(--nav-color);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.project-banner1 p,
.project-banner p {
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0.5rem;
  line-height: 1.1;
}

.project-banner {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 12vh;
  color: var(--nav-color);
  background-color: var(--highlight);
}

.project1:hover,
.project2:hover,
.project3:hover,
.project4:hover,
.project5:hover {
  background-color: var(--highlight);
  opacity: 85%;
}

.project1 {
  flex: 1 0 100%;
  margin-top: 4%;
  border: 5px solid var(--highlight);
  background-size: cover;
  background-image: url(./img/splash01.jpg);
  height: 60vh;
  margin-bottom: 2%;
  display: flex;
  transition: all 0.25s ease-in-out;
}

.project2 {
  flex: 1 0 45%;
  border: 5px solid var(--highlight);
  background-size: cover;
  background-image: url(./img/CSS\ Cheatsheet\ Splash.png);
  /* background-image: url(./Fire\ Scripts\ CLI\ Splash.png); */
  height: 25vh;
  margin-right: 10px;
  position: relative;
  margin-bottom: 2%;
  transition: all 0.25s ease-in-out;
}

.project3 {
  flex: 1 0 45%;
  border: 5px solid var(--highlight);
  background-image: url(./img/Simple\ Portfolio.png);
  background-size: cover;
  /* background-image: url(./Fire\ Scripts\ CLI\ Splash.png); */
  height: 25vh;
  position: relative;
  margin-bottom: 2%;
  transition: all 0.25s ease-in-out;
}

.project4 {
  flex: 1 0 45%;
  border: 5px solid var(--highlight);
  background-image: url(./img/Fire\ Scripts\ Big\ Splash.png);
  background-size: cover;
  /* background-image: url(./Fire\ Scripts\ CLI\ Splash.png); */
  height: 25vh;
  position: relative;
  margin-bottom: 2%;
  margin-right: 10px;
  transition: all 0.25s ease-in-out;
}

.project5 {
  flex: 1 0 45%;
  justify-content: center;
  border: 5px solid var(--highlight);
  background-image: url(./img/banner.jpg);
  background-size: cover;
  /* background-image: url(./Fire\ Scripts\ CLI\ Splash.png); */
  height: 25vh;
  position: relative;
  margin-bottom: 2%;
  transition: all 0.25s ease-in-out;
}
/* end projects styling */

/* contact heading margin/padding */
#contact {
  padding-bottom: 2%;
  margin-bottom: 1rem;
}

#contact h3 {
  margin-left: -1.5rem;
}
/* contact options container  */
.contact-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  width: 90%;
  /* margin to offset heading margin */
}

.contact-options ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.contact-options ul li {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}
/* make the contact options have the underline and set up for hover anim */
.contact-options ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
  background-image: linear-gradient(280deg, var(--heading), var(--heading));
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 0.2em;
  transition: all 0.25s ease-in-out;
}
/* hover on contact options anim */
.contact-options ul li a:hover {
  background-size: 100% 100%;
  color: white;
}

/* define animations */
@keyframes slideinleft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideinright {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* set animations to classes */
.slideinleft {
  opacity: 0;
  animation: slideinleft 1.5s 0s 1 normal forwards;
}
.slideinright {
  opacity: 0;
  animation: slideinright 1.5s 1.75s 1 normal forwards;
}

/* small screen size/mobile media query */
@media screen and (max-width: 768px) {
  nav a:hover {
    background-size: 100% 80%;
  }
  /* change row containers to column  */
  .container {
    flex-direction: column;
  }

  /* hide right line divider and add the divider to the bottom */
  .left-heading {
    border-bottom: 5px solid var(--heading);
    border-right: none;
  }
  /* center headings in col layout */
  .left-heading h3 {
    text-align: center;
  }

  /* change row containers to column */
  .content-box {
    flex-direction: column;
    margin-right: 2%;
  }

  .content-box-work {
    flex-direction: column;
    margin-left: auto;
    width: 90vw;
  }

  .project2,
  .project4 {
    margin-right: 0px;
  }

  /* change row containers to column */
  .contact-options ul {
    flex-direction: column;
    align-items: center;
    width: 90vw;
  }

  #contact h3 {
    margin-left: 0px;
  }


}
